
@{
    ViewData["Title"] = "DistrictAdd";
}

<h1>DistrictAdd</h1>

<h2>Başarılı bir şekilde mahalle eklediniz. Tebrikler!</h2>
<b>Mahalle Adınız:</b> @ViewBag.KullaniciAd
<br />
<b>Mahalle Kodunuz:</b> @ViewBag.Sifre
