@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<h3>Harita Bilgi</h3>


<div style="float:right; margin-bottom:5px;">
    <form class="form-inline">
        <label>Çizim Türü Seçin: &nbsp;</label>
        <select class="form-control" id="type">
            <option value="None">None</option>
            <option value="Point">Kapı Ekle</option>
            <option value="Polygon">Mahalle Ekle</option>
        </select>
    </form>
</div>


<div id="map" class="map" style="height: 100%; width: 100%; background-color: white; position:inherit">

</div>


<div class="modal fade" id="MahalleEkle" tabindex="-1" role="dialog" aria-labelledby="">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Mahalle Ekle</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <form method="post" action="/Districts/Districts">
                <div class="modal-body">
                    <div class="form-group">
                        <label>Mahalle adınız: </label>
                        <input type="text" name="DistrictName" id="DistrictName" class="form-control" />
                    </div>
                    @*<div class="form-group">
                        <label>Mahalle Kodunuz: </label>
                        <input type="text" name="DistrictCode" class="form-control" />
                    </div>*@
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                    <button id="btnAdd" onclick="addDistrict()"  type="button" class="btn btn-primary">Mahalle Ekle</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="KapiEkle" tabindex="-1" role="dialog" aria-labelledby="">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Kapı Ekle</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <form>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Kapı Numaranızı Giriniz: </label>
                        <input type="text" name="DoorNo" id="DoorNo" class="form-control" />
                    </div>
                    @*<div class="form-group">
                        <label>Mahalle Kodunuz: </label>
                        <input type="text" name="DistrictCode" id="DistrictCode" class="form-control" />
                    </div>*@
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                    <button id="btnAdd" onclick="addDoor()" type="button" class="btn btn-primary">Kapı Ekle</button>
                </div>
            </form>
        </div>
    </div>
</div>


